body {
    font: 12pt serif;
}
table, th, tr {
    border: 1px solid black;
}

th, tr {
    padding: 2px; 
}
#naglowek {
    background: #33ccff;
}

#tabela1 {
    width: 50%;
    border: 1px solid black;
}